html {
    overflow-y: scroll;
}

body {
    background: #990000;
    font-family: "Verdana";
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #990000;
    text-decoration: underline;
}

#content > .container > a , li > a {
    font-weight: Bold;
}

ul {
    list-style: square;
}

.container {
    margin: 4px 4px;
    background: #eeeeee;
    border: 2px solid #bdbdbd;
    border-radius: 4px;
}

.container > .container {
    margin-bottom: 16px;
    background: #eeeeee;
}

.container > .container > .container {
    margin-bottom: 16px;
    background: #000000;
}

.container > .container > .container > .container  {
    background: #eeeeee;
    padding: 12px;
}

#classes > ul {
    list-style-type: none;
    margin: 0px;
}

#classes > ul > li {
    margin: 0px;
    padding: 0px;
}

.update {
    padding: 16px;
    font-size: 10pt;
    font-weight: bold;
}

.label {
    text-align: right;
}

#content, #header, #footer {
    background: #ffffff;
    border: 2px solid #bdbdbd;
    border-radius: 4px;
    margin: 16px auto;
    max-width: 1024px;
}

#footer {
    font-size: 10pt;
}

.goto_top > a, img {
    float: right;
    position: relative;
    bottom: 22px;
    font-size: 10pt;
    font-weight: bold;
    color:black;
}